<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Stock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="container">

    <body>
    <form action="{{ url_for('add_stock') }}" method="POST" class="add-stock-form">
        <h1>Agregar Stock</h1>
        
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.producto.label }}<br>
            {{ form.producto(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cantidad.label }}<br>
            {{ form.cantidad(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.fecha_ingreso.label }}<br>
            {{ form.fecha_ingreso(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.fecha_vencimiento.label }}<br>
            {{ form.fecha_vencimiento(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Agregar Stock</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>
</body>
        