<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Venta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="container">
    <body>
    <form method="POST" action="{{ url_for('add_sale') }}" class="add-sale-form">
        <h1>Registrar Venta</h1>
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            <label for="producto">Producto</label>
            {{ form.producto(class="form-control") }}
        </div>
        
        <div class="form-group">
            <label for="cantidad">Cantidad</label>
            {{ form.cantidad(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">Registrar Venta</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver a la lista</a>
    </form>
    </body>
</div>

</html>
